@import "mixins";

h1 {
  color: crimson;
  @include responsive("iphone") {
    color: gold;
  }
  @include responsive("iphone-l") {
    font-size: 60px;
  }
  @include responsive("tablet") {
    color: teal;
  }
}
